<div class="contanier-fluid">
   <img src="assets/eee.png" width="100%" height="250px">
</div>
<div class="container">
 <div class="row">
 <div class="col">
    <table>
        <tr>
            <td>About Department</td>
        </tr>
        <tr><td><a href="Head-of-department">Head of Department</a></td></tr>
        <tr><td><a routerLink="">Faculty</a></td></tr>
        <tr><td><a routerLink="">Syllabus</a></td></tr>
        <tr><td><a routerLink="">Gallery</a></td></tr>
        <tr><td><a routerLink="">PEO PSO</a></td></tr>
    </table>
 </div>
 </div>
</div>

