<div class="container-fulid">
   <div class="row">
      <div class="col">
         <img src="assets/eee.png" width="100%" height="250px">
      </div>
   </div>
</div>
<div id="exTab3" class="container">
    <div class="row">
        <div class="col-sm-5">
            <ul class="nav nav-link">
                <li class="active">
                    <a href="#1b" class="nav-link" data-bs-toggle="tab">About Department</a>
                </li>
                <li><a href="#2b" class="nav-link" data-bs-toggle="tab">Head of the Department</a>

                </li>
                <li><a href="#3b" class="nav-link" data-bs-toggle="tab">Faculty</a>
                </li>
                <li><a href="#4a" class="nav-link" data-bs-toggle="tab">syllabus</a>
                </li>
                <li><a href="#5a" class="nav-link" data-bs-toggle="tab">PEO's&SEO's</a>
                </li>
                
            </ul>
        </div>
        <div class="col-sm-7">
            <div class="tab-content clearfix">
                <div class="tab-pane active" id="1b">
                    <h3 class="c">About Department</h3>
                    <p>The Department of Electrical Engineering was formed with the primary objective of providing
                        quality education in the field of Electrical Engineering, while addressing the problems of today
                        and tomorrow. Right from its inception, the department has been offering excellent
                        infrastructural facilities with a variety of platforms for aspiring professional students to
                        meet the growing demands of the Electrical industry.</p>
                    <p>The Department of Electrical and Electronics Engineering was established in 2008 with
                        Undergraduate Programme B.Tech. Electrical and Electronics Engineering. The department
                        endeavours to produce confident professionals tuned to real time working environment. The
                        department offers excellent academic environment with a team of highly qualified faculty members
                        to inspire the students to develop their technical skills and inculcate the spirit of team work
                        in them. The strength of the department lies in the highly motivated students who understand the
                        dynamics of the industry and hone their skills accordingly. We focus on bridging the gap between
                        campus education and industry needs through internships, guest lectures and workshops.</p>
                    <p><b>Laboratory Facilities</b></p>
                    <ul>
                        <li>Electrical Machines Laboratory</li>
                        <li>Power Electronics Laboratory</li>
                        <li>Control System Laboratory</li>
                        <li>Measurement and Instrumentation Laboratory</li>
                        <li>Power System Laboratory</li>
                        <li>Measurement and Instrumentation Laboratory</li>
                        <li>Electric Circuits Laboratory</li>
                        <li>Engineering Workshop Laboratory</li>
                    </ul>
                    <p><b>Electrical Machines Laboratory</b></p>
                    <p>The Electrical Machines Laboratory supports teaching; research and consultancy work on Electrical
                        machines and drives. Through hands-on experiments with real machines, students gain practical
                        experience on transformers and various types of machine drives. The laboratory can also be used
                        for project work related to electrical machines and energy conversion.

                    </p>
                    <p><b>Power Electronics Laboratory</b></p>
                    <p>Circuits and devices used for switching power converters, solid-state motor drives, and power
                        controllers; dc-dc, ac-dc, and dc-ac converters and applications; high-power transistors and
                        magnetic components; design considerations including heat transfer.</p>
                    <p><b>Control System Laboratory</b></p>
                    <p>The Control Systems Laboratory introduces students to the implementation of PID-controllers, and
                        two-step controllers, to first order delay, as well as third order delay, systems using
                        educational PID boards and DC servo boards. Six numbers of PLC kits available for doing
                        industrial application based experiments. Experimentations and analysis use industrial standard
                        oscilloscopes, and data-acquisition boards interfaced via SIMULINK/MATLAB.

                    </p>
                    <p><b>Power System Laboratory</b></p>
                    <p>Power System Simulation Laboratory is a computer model that mimics the operation of a real or
                        proposed Power Engineering system. Simulation tool helps in validating the ideas and new
                        concepts which born’s in an engineer’s mind which seeks for solution to a problem. Sophisticated
                        Computer programs are used in Power Engineering Simulation Laboratory for the purpose of
                        analysis and design in the following domains.</p>
                    <p><b>Measurement and Instrumentation Laboratory</b></p>
                    <p>The Measurement and Instrumentation laboratory in Electrical and Electronics Engineering (EEE)
                        Department has the objective to familiarize the student with the operation of basic laboratory
                        instrumentation such as Energy meter, multimeter, frequency counter, voltmeter, Ammeter and also
                        with personal computers and circuit simulators such as Pspice and Workbench etc. To understand
                        the experiments student must understand the theory of the circuits under test, and the
                        instruments used to test them.</p>
                    <p><b>Electric Circuits Laboratory</b></p>
                    <p>In the Electrical Circuit Lab students can create their own electrical circuits and do
                        measurements on it. The electrical circuits are limited to DC (direct current). There is also a
                        version of the Electrical Circuit Lab in which data can be collected. Students can analyze the
                        collected data by creating graphs of the data and use the graphs in the conclusion tool.
                        Harmonic Analyzer is also available for measuring and analyzing the data’s.</p>
                    <p><b>Engineering Workshop Laboratory</b></p>
                    <p>Engineering workshop Lab covers all the basic engineering lab practices in the Civil, Mechanical,
                        Electrical and Electronics areas. The lab deals with the various tools to be used and exercises
                        to be practiced in the application of engineering. </p>
                </div>
                <div class="tab-pane" id="2b">
                    <h3 class="c">Head of Department</h3>
                    <hr>
                    <div class="row">
                        <div class="col">
                            Dr. K.Natarajan obtained his B.E (Electrical and Electronics Engineering) from Sri
                            Ramakrishna Institute of Technology, Coimbatore and M.E (Electrical Machines) from P.S.G
                            college of Technology, Coimbatore. He finished his MBA in the field of Educational
                            Management. He also completed his Ph.D degree from Anna University, Chennai in the year of
                            2017.
                            <p>He has over 14 years of teaching experience at UG and PG level and guided a number of
                                projects in Electrical Engineering and published / presented many articles in Journals
                                and conferences</p>
                        </div>
                        <div class="col">
                            <img src="assets/hod-eee.jpeg" width="80%">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="3b">
                    <h3 class="c">Faculty</h3>
                    <table style="width:100%">
                        <tr>
                            <th>S.NO</th>
                            <th>Name of the Faculty</th>
                            <th>Designation</th>
                            <th>Department</th>
                            <th>Registration ID</th>
                            <th>Experience</th>
                            <th>Photo</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NATARAJAN KALIAPPAN</td>
                            <td>HOD-Associate Professor</td>
                            <td>M.Tech Ph.D</td>
                            <td>1184-180206-172014</td>
                            <td>14 Years</td>
                            <td><img src="assets/hod-eee.jpeg" width="100%"></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>VAMSHI KRISHNA KOMURAVELLI</td>
                            <td>Assistant Professor</td>
                            <td>M.Tech</td>
                            <td>75150405-174823</td>
                            <td>10 Years</td>
                            <td><img src="assets/vamshikrishna.jpeg" width="100%"></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>SHIVA KUMAR MUNJAM</td>
                            <td>Assistant Professor</td>
                            <td>M.Tech</td>
                            <td>7734-150412-151225</td>
                            <td>16 Years</td>
                            <td><img src="assets/shivakumar.jpeg" width="100%"></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>SANTHOSH BANDI</td>
                            <td>Assistant Professor</td>
                            <td>M.Tech</td>
                            <td>4224-150416-153422</td>
                            <td>16 Years</td>
                            <td><img src="assets/santhoshB.jpeg" width="100%"></td>
                        </tr>
                    </table>

                </div>
                <div class="tab-pane" id="4a">
                    <h2 class="text-center c">EEE SYLLABUS</h2>
                    <p>JAWAHARLAL NEHRU TECHNOLOGICAL UNIVERSITY HYDERABAD B.Tech. in ELECTRICAL AND ELECTRONICS
                        ENGINEERING I YEAR COURSE STRUCTURE & SYLLABUS (R22 Regulations)</p>
                        <ul><li><a href="" class="nav-link">EEE I And II Year Syllabus</a></li></ul>
                </div>
                <div class="tab-pane" id="5a">
                    <h2>PEOs & PSOs of B.Tech (UG Program)</h2>
                    <ul><li><a href="" class="nav-link">Click Here</a></li></ul>
                </div>
            </div>
        </div>
    </div>



</div>


<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>