<div class="container-fulid">
    <div class="row">
        <div class="col">
            <img src="assets/ece.jpg" width="100%" height="250px">
        </div>
    </div>
</div>
<div id="exTab3" class="container">
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-link">
                <li class="active">
                    <a href="#1b" class="nav-link" data-bs-toggle="tab">About Department</a>
                </li>
                <li><a href="#2b" class="nav-link" data-bs-toggle="tab">Head of the Department</a>

                </li>
                <li><a href="#3b" class="nav-link" data-bs-toggle="tab">Faculty</a>
                </li>
                <li><a href="#4a" class="nav-link" data-bs-toggle="tab">syllabus</a>
                </li>
                <li><a href="#5a" class="nav-link" data-bs-toggle="tab">Gallery</a>
                </li>
                <li><a href="#6a" class="nav-link" data-bs-toggle="tab">PEO's&SEO's</a>
                </li>

            </ul>
        </div>
        <div class="col-sm-9">
            <div class="tab-content clearfix">
                <div class="tab-pane active" id="1b">
                    <h3 class="text-center text-secondary">About Department</h3>
                    <div class="row">
                        <div class="col">
                            <img src="assets/ece-about.jpg" width="80%">
                        </div>
                        <div class="col">
                            <p>The department of Electronics & Communication Engineering started right from the
                                inception
                                of the college in the year 2008. The primary objective of the department has been to
                                impart
                                quality education, training and research at the undergraduate in various areas of
                                Electronics and Communication Engineering with broad emphasis on design aspects of
                                electronic systems. The Department presently offers UG Programme B.Tech with an intake
                                of
                                60.</p>
                            <h3>Our Vision</h3>
                            <p>"To be recognized globally for high calibre engineers in electronics and communication,
                                capable of adapting to the changing needs of industry and society."</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="2b">
                    <h3>Head of Department</h3>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p>Dr. Ganesh Mani, Head, Department of ECE has a total experience of more than - years. Out
                                of which, he also has an industry exposure in marketing and sales. Apart from that, he
                                has comprehensive teaching experience of around 15 years, which also include training
                                and development experience.</p>
                            <p>He completed his ECE in 2001 and his Doctorate in 2015. He is skilled primarily in the
                                training of students and making them ready for industry. He also publishes a number of
                                research papers both national and international.</p>
                        </div>
                        <div class="col">
                            <img src="assets/hod.jpeg" width="80%" height="300">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="3b">
                    <h3>Faculty</h3>
                    <table style="width:100%">
                        <tr>
                            <th>S.NO</th>
                            <th>Name of the Faculty</th>
                            <th>Designation</th>
                            <th>Department</th>
                            <th>Registration ID</th>
                            <th>Experience</th>
                            <th>Photo</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>GANESH MANI</td>
                            <td>HOD-Associate Professor</td>
                            <td>M.Tech Ph.D</td>
                            <td>5532-170206-234514</td>
                            <td>18 Years</td>
                            <td><img src="assets/hod.jpeg" width="30%"></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>GANTLA LAVANYA</td>
                            <td>Assistant Professor</td>
                            <td>M.Tech</td>
                            <td>1663-170203-183207</td>
                            <td>2 Years</td>
                            <td><img src="assets/lavanya.jpeg" width="30%"></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>VODNALA MAMATHA</td>
                            <td>Assistant Professor</td>
                            <td>M.Tech</td>
                            <td>1235-170122-184453</td>
                            <td>4 Years</td>
                            <td><img src="assets/mamatha.jpeg" width="30%"></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Vootla Sridhar</td>
                            <td>Assistant Professor</td>
                            <td>M.Tech</td>
                            <td>6533-170912-154901</td>
                            <td>2 Years</td>
                            <td><img src="assets/sridhar.jpeg" width="30%"></td>
                        </tr>
                    </table>

                </div>
                <div class="tab-pane" id="4a">
                    <h2 class="text-center">ECE SYLLABUS</h2>
                    <p>JAWAHARLAL NEHRU TECHNOLOGICAL UNIVERSITY HYDERABAD B.Tech. in ELECTRONICS AND COMMUNIVATION
                        ENGINEERING I YEAR COURSE STRUCTURE & SYLLABUS (R22 Regulations)
                        ECE I And II Year Syllabus</p>
                    <ul>
                        <li><a href="" class="nav-link">ECE I And II Year Syllabus</a></li>
                    </ul>
                </div>
                <div class="tab-pane" id="5a">
                    <img src="assets/ece department.jpg" width="100%" height="350px">
                    <div class="row mt-2">
                        <div class="col">
                            <img src="assets/1.jpeg" width="100%">
                        </div>
                        <div class="col"><img src="assets/pic.jpeg" width="100%" height="330"></div>
                    </div>
                    <div class="row mt-2">
                       <div class="col"><img src="assets/dep.jpeg" width="100%" height="300"></div>
                       <div class="col"><img src="assets/fershers.jpeg" width="100%"></div>
                    </div>
                </div>
                <div class="tab-pane" id="6a">
                    <h2>PEOs & PSOs of B.Tech (UG Program)</h2>
                    <ul>
                        <li><a href="" class="nav-link">Click Here</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



</div>