<div class="container-fulid">
    <div class="row">
        <div class="col">
            <img src="assets/c.jpg" width="100%" height="250px">
        </div>
    </div>
</div>
<div id="exTab3" class="container">
    <div class="row">
        <div class="col-sm-3 p-3">
            <button class="bg-light" style="border: 1px solid rgb(176, 178, 179);"><ul class="nav nav-link">
                <li class="active">
                    <a href="#1b" class="nav-link" data-bs-toggle="tab">About Department</a>
                </li>
                <hr>
                <li><a href="#2b" class="nav-link" data-bs-toggle="tab">Head of the Department</a>

                </li>
                <hr>
                <li><a href="#3b" class="nav-link" data-bs-toggle="tab">Faculty</a>
                </li>
                <hr>
                <li><a href="#4a" class="nav-link" data-bs-toggle="tab">syllabus</a>
                </li>
                <hr>
                <li><a href="#5a" class="nav-link" data-bs-toggle="tab">Gallery</a>
                </li>
                <hr>
                <li><a href="#6a" class="nav-link" data-bs-toggle="tab">PEO's&SEO's</a>
                </li>

            </ul></button>
            
        </div>
        <div class="col-sm-9">
            <div class="tab-content clearfix">
                <div class="tab-pane active" id="1b">
                    <h3 class="text-secondary">About Department</h3>
                    <p class=>The Department of Computer Science and Engineering at TCEK was started in the year 2008
                        with an
                        intake of 60. Subsequently the intake is enhanced from 60 to 120 in the academic year 2010; The
                        Department offers UG (B.Tech) degrees. The Department has state of the art infrastructure and
                        computing equipment supported by high speed internet and wireless networks.</p>
                    <p>The Department of Computer Science and Engineering is renowned for cutting edge research and for
                        imparting state of art education. The Department provides an outstanding research environment
                        complemented by excellence in teaching.</p>
                    <p>Our faculty aims at delivering top class education blending their rich research experience with
                        classroom teaching. It also promotes active industry-institute collaboration by identifying
                        areas of interest and taking part in sponsored research projects and consultancy services. The
                        Department has undertaken many research projects funded both by multinationals and government
                        agencies.</p>
                    <p>The major areas of research include Image Processing, Real time operating Systems, Neural
                        Networks, Data mining, Information retrieval and Web mining, Information Security, Networks,
                        Operating Systems, Distributed Systems, Parallel processing and Human-Computer Interactions.</p>
                    <h2>Vision</h2>
                    <p>To become a regional leader in providing the high quality education in the field of Computer
                        Science and Engineering and nurturing the students to compete globally, with the curricula that
                        imparts theoretical foundations and hands on experience of Computer Science and Engineering and
                        also the foundations of social, ethical, and liberal education needed to make significant
                        contributions to society.</p>
                </div>
                <div class="tab-pane" id="2b">
                    <h3>Head of Department</h3>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p>Jilla Swathi,Head, Department of CSE has completed her B.Tech with Computer Science and
                                Engineering from JNTUH University, M.Tech with Computer Science from JNTUH University He
                                is having more than 10 years of teaching experience. She is resource person for Infosys
                                campus program; worked as software developer in Broadcom India research Pvt. Limited at
                                Bangalore.</p>

                        </div>
                        <div class="col">
                            <img src="assets/swathi.jpeg" width="100%" height="350px">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="3b">
                    <h3>Faculty</h3>
                    <table style="width:100%">
                        <tr>
                            <th>S.NO</th>
                            <th>Name of the Faculty</th>
                            <th>Designation</th>
                            <th>Department</th>
                            <th>Registration ID</th>
                            <th>Experience</th>
                            <th>Photo</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>SWATHI JILLA</td>
                            <td>HOD-Associate Professor</td>
                            <td>M.Tech Ph.D</td>
                            <td>2717-150427-180153</td>
                            <td>12 Years</td>
                            <td><img src="assets/swathi.jpeg" width="30%"></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>SYED KHAJAPASHA</td>
                            <td>Assistant Professor</td>
                            <td>M.Tech</td>
                            <td>0802-170126-125051</td>
                            <td>4 Years</td>
                            <td><img src="assets/khajapasha.jpeg" width="30%"></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>ANJALI KOMUROJU</td>
                            <td>Assistant Professor</td>
                            <td>M.Tech</td>
                            <td>4513-190506-102113</td>
                            <td>2 Years</td>
                            <td><img src="assets/anjali.jpeg" width="30%"></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>MOHAMMAD ZIAUDDIN</td>
                            <td>Assistant Professor</td>
                            <td>M.Tech</td>
                            <td>5682-170203-164956</td>
                            <td>4 Years</td>
                            <td><img src="assets/zaiuddin.jpeg" width="30%"></td>
                        </tr>
                    </table>

                </div>
                <div class="tab-pane" id="4a">
                    <h2 class="text-center">CSE SYLLABUS</h2>
                    <p>JAWAHARLAL NEHRU TECHNOLOGICAL UNIVERSITY HYDERABAD B.Tech. in COMPUTER SCIENCE ENGINEERING I
                        YEAR COURSE STRUCTURE & SYLLABUS (R22 Regulations)</p>
                    <ul>
                        <li><a href="" class="nav-link">CSEI And II Year Syllabus</a></li>
                    </ul>
                </div>
                <div class="tab-pane" id="5a">
                    <img src="assets/c.jpg" width="100%" height="350px">
                    <div class="row mt-2">
                        <div class="col">
                            <img src="assets/1.jpeg" width="100%">
                        </div>
                        <div class="col"><img src="assets/pic.jpeg" width="100%" height="330"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col"><img src="assets/dep.jpeg" width="100%" height="300"></div>
                        <div class="col"><img src="assets/fershers.jpeg" width="100%"></div>
                    </div>
                </div>
                <div class="tab-pane" id="6a">
                    <h2>PEOs & PSOs of B.Tech (UG Program)</h2>
                    <ul>
                        <li><a href="" class="nav-link">Click Here</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>