<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-center"><u>Academic Regulations</u></h3>
        </div>
    </div>
    <div class="row">
      <div class="col">
         <table style="width: 100%;">
            <tr>
                <th>S.NO</th>
                <th>Name of the Regulations</th>
                <th>Academic Regulations</th>
            </tr>
            <tr>
                <td>1</td>
                <td>R18 B.TECH Academic Regulations</td>
                <td><a routerLink="" class="nav-link">View</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>R22 B.Tech. Academic Regulations</td>
                <td><a router="" class="nav-link">View</a></td>
            </tr>
         </table>
      </div>
    </div>
</div>

