<div class="container-fulid">
    <div class="row">
        <div class="col">
            <img src="assets/sh.png" width="100%" height="250px">
        </div>
    </div>
</div>
<div id="exTab3" class="container">
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-link">
                <li class="active">
                    <a href="#1b" class="nav-link" data-bs-toggle="tab">About Department</a>
                </li>
                <li><a href="#2b" class="nav-link" data-bs-toggle="tab">Head of the Department</a>

                </li>
                <li><a href="#3b" class="nav-link" data-bs-toggle="tab">Faculty</a>
                </li>
                <li><a href="#4a" class="nav-link" data-bs-toggle="tab">syllabus</a>
                </li>
                <li><a href="#5a" class="nav-link" data-bs-toggle="tab">Gallery</a>
                </li>
                <li><a href="#6a" class="nav-link" data-bs-toggle="tab">PEO's&SEO's</a>
                </li>

            </ul>
        </div>
        <div class="col-sm-9">
            <div class="tab-content clearfix">
                <div class="tab-pane active" id="1b">
                    <h3>About Department</h3>
                    <p>The department of Humanities and Sciences (H & S) comprises the disciplines of English,
                        Mathematics, Physics and Chemistry. A blend of experience and enthusiasm, the department plays
                        an instrumental role in moulding students from the first year itself.</p>
                    <p>The objective of the department is to prepare students to face challenges in a globalised world
                        by imparting intensive training in English Language and Communication Skills, Mathematics,
                        Physics and Chemistry that will help them apply their core knowledge to related fields. The
                        department caters to the placement related needs of the students by training them in areas like
                        Verbal Ability, Group Discussions, Interview Techniques, Quantitative Aptitude, etc.
                    </p>
                </div>
                <div class="tab-pane" id="2b">
                    <h3>Head of Department</h3>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p>PADMINI PACHWA, Head, Department of Humanities & Sciences has a total experience of more
                                than - years. Out of which, he also has an industry exposure in marketing and sales.
                                Apart from that, he has comprehensive teaching experience of around 15 years, which also
                                include training and development experience.</p>
                            <p>He completed his Msc in 2001 and his - in 2015. He is skilled primarily in the training
                                of students and making them ready for industry. He also publishes a number of research
                                papers both national and international.</p>
                        </div>
                        <div class="col">
                            <img src="assets/padma.jpeg" width="80%">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="3b">
                    <h3>Faculty</h3>
                    <table style="width:100%">
                        <tr>
                            <th>S.NO</th>
                            <th>Name of the Faculty</th>
                            <th>Designation</th>
                            <th>Department</th>
                            <th>qualification</th>
                            <th>Experience</th>
                            <th>Photo</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>P.PADMIINI</td>
                            <td>Associate Professor</td>
                            <td>H&S</td>
                            <td>M.SC (MATHEMATICS)</td>
                            <td>10 Years</td>
                            <td><img src="assets/padma.jpeg" width="30%"></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>N.MAHENDAR</td>
                            <td>Assistant Professor</td>
                            <td>H&S</td>
                            <td>M.A (ENGLISH)</td>
                            <td>7 Years</td>
                            <td><img src="assets/khajapasha.jpeg" width="30%"></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>G.SRINIVAS</td>
                            <td>Assistant Professor</td>
                            <td>H&S</td>
                            <td>M.A (ENGLISH)</td>
                            <td>3 Years</td>
                            <td><img src="assets/zaiuddin.jpeg" width="30%"></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>ASIA BEGUM</td>
                            <td>Assistant Professor</td>
                            <td>H&S</td>
                            <td>M.A (ENGLISH)</td>
                            <td>3 Years</td>
                            <td><img src="assets/anjali.jpeg" width="30%"></td>
                        </tr>
                    </table>

                </div>
                <div class="tab-pane" id="4a">
                    <h2 class="text-center">CSE SYLLABUS</h2>
                    <p>JAWAHARLAL NEHRU TECHNOLOGICAL UNIVERSITY HYDERABAD B.Tech. in H&S I
                        YEAR COURSE STRUCTURE & SYLLABUS (R22 Regulations)</p>
                    <ul>
                        <li><a href="" class="nav-link">H&S And II Year Syllabus</a></li>
                    </ul>
                </div>
                <div class="tab-pane" id="5a">
                    <img src="assets/sh.png" width="100%" height="350px">
                    <div class="row mt-2">
                        <div class="col">
                            <img src="assets/1.jpeg" width="100%">
                        </div>
                        <div class="col"><img src="assets/pic.jpeg" width="100%" height="330"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col"><img src="assets/dep.jpeg" width="100%" height="300"></div>
                        <div class="col"><img src="assets/fershers.jpeg" width="100%"></div>
                    </div>
                </div>
                <div class="tab-pane" id="6a">
                    <h2>PEOs & PSOs of B.Tech (UG Program)</h2>
                    <ul>
                        <li><a href="" class="nav-link">Click Here</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>