<div class="container-fulid">
    <div class="row">
        <div class="col">
            <img src="assets/place.png" width="100%" height="250px">
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col"><img src="assets/arif.jpg" width="100%" height="70%"></div>
        <div class="col">
            <p><b>Dr Arif Arfat, TPO ,</b>The Trinity College of Engineering and Technology functions under the aegis of
                trinity group of institutes, which operates many schools and colleges in Telangana State, India.</p>
            <p>We are striving hard to look forward that the institute achieves great heights of excellence and become a
                national level institution. The institute has produced outstanding engineers, who are successfully
                proved their professional competence in their respective fields. I extend my best wishes to all my
                students and I am sure that they will create their own path of grand success in life.</p>
                <h4 class="offset-1 text-primary">- Dr Arif Arfat, Training and Placement Officer
                </h4>
        </div>
    </div>
</div>