<div class="container-fulid">
    <div class="row">
        <div class="col">
            <img src="assets/founder.jpg" width="100%" height="250px">
        </div>
        <div class="centered text-center">
            <h1 style="font-size:60px;"><b>Contact US</b></h1>
        </div>
    </div>
</div>
<div class="container">
 <div class="row">
  <div class="col">
      <h2>Address</h2>
      <hr style="width:100px">
      <p>Trinity College of Engineering and Technology,</p>
      <p>Bandarikunta,Peddapalli - Telangana - 505172,</p>
      <p><i class="bi bi-envelope"></i> officetcek&#64;gmail.com</p>
      <p><i class="bi bi-globe2"></i>www.tcek.ac.in</p>
      <hr style="width:300px">
      <p><b>Director Academics</b></p>
      <p><i class="bi bi-telephone"></i>+91 73969 03383</p>
      <hr style="width:300px">
      <p><b>Administrative Officer</b></p>
      <p><i class="bi bi-telephone"></i>+91 85729 54369</p>
      <p><i class="bi bi-envelope"></i>ao.tcek&#64;gmail.com</p>
  </div>
  
 </div>
</div>