<div class="container-fulid">
    <div class="row">
        <div class="col">
            <img src="assets/founder.jpg" width="100%" height="250px">
        </div>
        <div class="centered text-center">
            <h1 style="font-size:60px;"><b>Admission Procedure</b></h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col"><img src="assets/principal.jpg" width="100%"></div>
        <div class="col">
           <p> Admissions to the B.Tech/Diploma/MBA program shall be made subject to the eligibility, qualifications, and specialization prescribed by the university from time to time. Admissions at the top engineering colleges in Telangana is made on the basis of merit rank obtained by the qualifying candidate at an Entrance Test conducted by the University, subjected to reservations prescribed by the university from time to time.</p>
        <p class="style">EAMCET: “Engineering Agriculture and Medicine Common Entrance Test”</p>
        <p>EAMCET Entrance Examination is the gateway for entry into various professional courses offered in Government/Private Telangana engineering colleges. The EAMCET test is taken by a large number of engineering and medical aspirants in the state. Presently, JNTU located in Hyderabad conducts the examination on behalf of TSCHE. Qualifying EAMCET Exam is compulsory to get admission into B.Tech courses through counselling quota. In every branch, 70% of seats are filled through web counselling. The remaining 30% of seats in every branch are filled by management (B category or Management Quota). For details on web counselling and giving options in web kindly click the given below web link.
            https://tseamcet.nic.in</p>
            <p class="style">CEEP: “Common Entrance Examination for Admission into Polytechnic”
            </p>
            <p>The State Board of Technical Education and Training, Telangana State, Hyderabad will conduct “Common Entrance Examination for Admission into Polytechnic” or the candidates seeking admission to all Diploma Courses in Engineering /Non-Engineering/ Technology offered at Polytechnics/ Institutions (including Aided and Unaided Private Polytechnics/ Institutions) in Telangana State. Detailed Information regarding eligibility, age, syllabus, etc., are given in the “CEEP-2019 Booklet” which is supplied along with ICR FORM and is available for sale at a cost of Rs.10/- (Rupees Ten only) from the Principals of Govt. Polytechnic, Private Polytechnics and TS online centres. Details can be seen on website.
                https://tspolycet.nic.in</p>
                <p class="style">I-CET : “Integrated Common Entrance Test”</p>
                <p>The Integrated Common Entrance Test is conducted for admission into 1st year MBA Degree Course in the University and Affiliated best MBA colleges in Telangana . For details on MBA admission, kindly click the given below web link.
                    https://icet.tsche.ac.in</p>
                    <h4 class="admin offset-5">
                        For Admission Details Contact<br>
                        Dr. M.Ganesh<br>
                        Principal<br>
                        Trinity College of Engineering and Technology
                        
                    </h4>
        </div>
       
    </div>
</div>
