.color{
    background-color: beige;
    font-weight: bold;
  
}
.font{
  font-weight: bold;
}
.background{
    background-color:rgb(73, 69, 95);
    text-align: center;
    color:white;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  .c{
    background-color:rgb(36, 35, 35);
  }
  
  