<div class="contanier-fluid">
  <div class="row color p-3">
    <div class="col-3 dropdown ms-5">
      <a routerLink="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">Examination</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="#">Notice Board</a></li>
        <li><a class="dropdown-item" routerLink="#">Time Table</a></li>
        <li><a class="dropdown-item" routerLink="#">Result</a></li>
      </ul>
    </div>

    <div class="col-3">
      <a routerLink="admission-procedure" class="nav-link">Admission Procedure</a>
    </div>
    <div class="col-2">
      <a routerLink="gallery" class="nav-link">Gallery</a>
    </div>

    <div class="col dropdown">
      <a routerLink="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">Facilites</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="#">Library</a></li>
        <li><a class="dropdown-item" routerLink="#">Hostel</a></li>
        <li><a class="dropdown-item" routerLink="#">Transport</a></li>
        <li><a class="dropdown-item" routerLink="#">Key-Facilities</a></li>
        <li><a class="dropdown-item" routerLink="#">E-learning and internet</a></li>
        <li><a class="dropdown-item" routerLink="#">Sports</a></li>
        <li><a class="dropdown-item" routerLink="#"> Cultural</a></li>


      </ul>
    </div>
    <div class="col-2">
      <a routerLink="contact" class="nav-link">Contact</a>
    </div>

  </div>
  <div class="row p-3 m-auto">
    <div class="col">
      <img src="assets/logo1.png" alt="logo1" width="300px">
    </div>
    <div class="col mt-4">
      <a routerLink="home" class="nav-link">Home</a>
    </div>
    <div class="col mt-4 dropdown">
      <a routerLink="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">AboutUs</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="founder">Founder</a></li>
        <li><a class="dropdown-item" routerLink="chairman">Chairman</a></li>
        <li><a class="dropdown-item" routerLink="principal">Principal</a></li>
        <li><a class="dropdown-item" routerLink="director-acadmics">Director Academics</a></li>
        <li><a class="dropdown-item" routerLink="administrative-officer">Adminstrative officier</a></li>
        <li><a class="dropdown-item" routerLink="visionand-mission">Vision and mission</a></li>
      </ul>
    </div>
    <div class="col mt-4 dropdown">
      <a routerLink="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">Academics</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="#">Course offered</a></li>
        <li><a class="dropdown-item" routerLink="academic-Calender">Academics calender</a></li>
        <li><a class="dropdown-item" routerLink="academic-regulations">Academics regulations</a></li>
      </ul>
    </div>
    <div class="col mt-4 dropdown">
      <a routerLink="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">Departments</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="eee">EEE</a></li>
        <li><a class="dropdown-item" routerLink="ece">ECE</a></li>
        <li><a class="dropdown-item" routerLink="cse">CSE</a></li>
        <li><a class="dropdown-item" routerLink="aiml">AIML</a></li>
        <li><a class="dropdown-item" routerLink="hs">H & S</a></li>
        <li><a class="dropdown-item" routerLink="mba">MBA</a></li>
        <li><a class="dropdown-item" routerLink="deee"> Diploma in EEE</a></li>
        <li><a class="dropdown-item" routerLink="dece"> Diploma in ECE</a></li>
        <li><a class="dropdown-item" routerLink="dcse"> Diploma in CSE</a></li>
      </ul>
    </div>
    <div class="col mt-4 dropdown">
      <a routerLink="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">Placement
        Cell</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="placement">Placement Cell</a></li>
        <li><a class="dropdown-item" routerLink="tpo">Contact TPO</a></li>
      </ul>
    </div>
    <div class="col mt-4 dropdown">
      <a routerLink="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">NAAC</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="#">SELF STUDY REPORT-SSR</a></li>
        <li><a class="dropdown-item" routerLink="criteria-1">CRITERIA-1</a></li>
        <li><a class="dropdown-item" routerLink="criteria2">CRITERIA-2</a></li>
        <li><a class="dropdown-item" routerLink="criteria3">CRITERIA-3</a></li>
        <li><a class="dropdown-item" routerLink="#">CRITERIA-4</a></li>
        <li><a class="dropdown-item" routerLink="#">CRITERIA-5</a></li>
        <li><a class="dropdown-item" routerLink="#"> CRITERIA-6</a></li>
        <li><a class="dropdown-item" routerLink="#"> CRITERIA-7</a></li>
        <li><a class="dropdown-item" routerLink="#">IIQA</a></li>
      </ul>
    </div>
    <div class="col mt-4 dropdown">
      <a routerLink="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">DVV</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="extended-profile">Extendedprofile_DVV</a></li>
        <li><a class="dropdown-item" routerLink="#">CRITERIA-1</a></li>
        <li><a class="dropdown-item" routerLink="#">CRITERIA-2</a></li>
        <li><a class="dropdown-item" routerLink="#">CRITERIA-3</a></li>
        <li><a class="dropdown-item" routerLink="#">CRITERIA-4</a></li>
        <li><a class="dropdown-item" routerLink="#">CRITERIA-5</a></li>
        <li><a class="dropdown-item" routerLink="#"> CRITERIA-6</a></li>
        <li><a class="dropdown-item" routerLink="#"> CRITERIA-7</a></li>

        
      </ul>
    </div>
  </div>
  <div class="row background">
    <div class="col offset-1">
      <h5>EAMCET/ ICET/ ECET/ POLYCET CODE: TCEK</h5>
    </div>
    <div class="col">
      <h5>For Admissions Contact : 8522954369, 7396903383</h5>
    </div>
  </div>
</div>
<router-outlet></router-outlet>