<div class="container-fulid">
    <div class="row">
        <div class="col">
            <img src="assets/place.png" width="100%" height="250px">
        </div>
    </div>
</div>
<div id="exTab3" class="container">
    <div class="row">
        <div class="col-sm-2">
            <ul class="nav nav-link">
                <li class="active">
                    <a href="#1b" class="nav-link" data-bs-toggle="tab">Placement Cell</a>
                </li>
                <li><a href="#2b" class="nav-link" data-bs-toggle="tab">Skill enhancement program</a>

                </li>
                <li><a href="#3b" class="nav-link" data-bs-toggle="tab">Task</a>
                </li>
                <li><a href="#4a" class="nav-link" data-bs-toggle="tab">Personal Counselling</a>
                </li>
                <li><a href="#5a" class="nav-link" data-bs-toggle="tab">Students placed</a>
                </li>
                <li><a href="#6a" class="nav-link" data-bs-toggle="tab">Placement Gallery</a>
                </li>

            </ul>
        </div>
        <div class="col-sm-10">
            <div class="tab-content clearfix">
                <div class="tab-pane active" id="1b">
                    <h3>Placement Cell</h3>
                    <div class="row">
                        <div class="col">
                            <img src="assets/cellimage.jpeg" width="40%">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="2b">
                    <h3>Skill</h3>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p>Most of the students at Trinity college of engineering have come from a rural background
                                and their language skills and employability skills are not up to industry requirement
                                and moreover skill set is evolving rapidly. To cope up with the rapid change, students
                                are trained in specific areas that will help them to explore new knowledge, attitude,
                                and skills, both personally and professionally.</p>
                            <p>Hence the skill Enhancement Program was introduced at TCEK. Under this program, our
                                students undergo training and learning of about 6 hours in a week. The students undergo
                                training in Personality Development Exercises, Managing Emotions, Time Management, and
                                Stress Management. They are also trained and given opportunities to enhance their skills
                                like public speaking, presentation skills, body language and preparation of reports</p>
                        </div>

                    </div>
                </div>
                <div class="tab-pane" id="3b">
                    <h3>Task</h3>
                    <p>Telangana Academy for Skill & Knowledge was established by the Government of Telangana to enable
                        a platform between Government, Academia, and Industry to enhance employability quotient of youth
                        in the state.</p>
                    <p>TASK is not a profit-oriented organization but its created by the Government of Telangana for
                        bringing synergy among institutions of Government, Industry & Academia with an objective of
                        offering quality human resources and services to the industry. Granting access to modules for
                        enhancing their technology, personal and organizational skills at highly subsidized rates.
                        Partnerships with colleges to create environs conducive for growth through faculty development,
                        research pilots and help colleges to provide quality education for the leaders of tomorrow with
                        focused systematic Programme. TASK programs help corporates gain access to a pool of trained
                        graduates for suitable roles. Our students are trained extensively in the latest technology to
                        help companies find the right candidate.</p>

                </div>
                <div class="tab-pane" id="4a">
                    <h2>Personal Counselling</h2>
                    <p>The aim of providing personal counselling is to facilitate comprehensive guidance programmes that
                        equip the students with necessary attitude, knowledge, behaviour and skills to become sensible
                        and responsible individuals. Personal counselling allows individuals to explore their feelings,
                        behaviours, beliefs and help them to work through challenging or influential memories. It also
                        helps an individual to identify aspects of their lives that they can change for their
                        betterment, set personal goals and work towards desired changes.</p>
                    <p>The primary goal to provide counselling session to the students at Trinity college of engineering
                        is to help individuals build upon their strengths and to minimize their weakness and enhance
                        their ability to address their issues of life and personal adjustment. The students who have
                        inferiority complex are also counselled and they are suggested to build self confidence. Special
                        observation is made towards identified the change in their attitude.</p>
                    <p>The counsellor clarifies nature of concern, offers supports, encourages a deeper understanding of
                        issues, and provides information and guidelines a work towards a problem – solving solution. The
                        personal counselling is done for 250 students on various issues like improper behaviour,
                        irregularity to college, not being punctual to college, being poor in academics subjects etc. in
                        the Academic year 2018-19 making TCEK is the best college in peddapelli.</p>
                    
                </div>
                <div class="tab-pane" id="5a">
                    <div class="row mt-2">
                        <h2>student Placement</h2>
                        <div class="col">
                            <img src="assets/student1.jpeg" width="100%">
                        </div>
                        <div class="col"><img src="assets/student2.jpeg" width="100%" height="100%"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col"><img src="assets/student3.jpeg" width="100%"></div>
                        <div class="col"><img src="assets/student4.jpeg" width="100%"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col"><img src="assets/student5.jpeg" width="100%"></div>
                        <div class="col"><img src="assets/student6.jpeg" width="100%"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col"><img src="assets/student7.jpeg" width="100%"></div>
                        <div class="col"><img src="assets/student8.jpeg" width="100%"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col"><img src="assets/student9.jpeg" width="100%"></div>
                        <div class="col"><img src="assets/student11.jpeg" width="100%"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col"><img src="assets/student12.jpeg" width="100%"></div>
                        <div class="col"><img src="assets/student13.jpeg" width="100%"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col"><img src="assets/student15.jpeg" width="70%"></div>
                    </div>
                </div>
                <div class="tab-pane mt-5" id="6a">
                    
                        <div class="col"><img src="assets/img1.jpeg" width="70%"></div>
                        
                   
                </div>
            </div>
        </div>
    </div>



</div>