<div class="container-fulid">
    <div class="row">
        <div class="col">
            <img src="assets/founder.jpg" width="100%" height="250px">
        </div>
        <div class="centered text-center">
            <h1 style="font-size:60px;"><b>Principal</b></h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col"><img src="assets/principal.jpg" width="100%"></div>
        <div class="col principal">
            <p><span style="color:crimson">Dr. M. GANESH,</span> obtained his B. E( Electronics and Communication
                Engineering) from Madras University, Chennai, Tamilnadu in the year 2001, M.E ( Applied Electronics)
                from Sathyabamma University, Chennai, Tamilnadu in the year 2005 and MBA( Production management) from
                Annamalai university, Tamilnadu.</p>
            <p>He has registered for his PhD research programme at Anna university, Coimbatore and awarded Doctoral
                degree by Anna university in the year 2014 for the Thesis entitled " Investigation on clustering based
                Image Segmentation method for Multi Resolution Images".</p>
            <p>He has over 18 years of teaching experience at UG and PG level and guided a number of projects in ECE
                related topics and published more than 10 articles in Journals and Conference's.</p>
            <p>He has over 10 years of experience in Head of Department in ECE branch in Self financing Engineering
                colleges.</p>
                <div class="offset-3 text-danger"><h3>- Dr.M.GANESH<sub> M.E.MBA.Ph.D(ECE)</sub></h3></div>
        </div>
        
    </div>
</div>