<div class="container-fulid">
    <img src="assets/hostel.jpg" width="100%" height="250px">
</div>
<div class="container">
    <h5 class="text-center">Hostel</h5>
    <p>Separate hostel facilities are provided for Girls in the college campus. It has adequate high security and good
        discipline. The students who are not staying with the parents shall reside in the college hostel as per college
        rules.</p>
        <div class="row">
            <div class="col">
                <img src="assets/hostel.jpg" class="rounded-circle"  width="100%">
            </div>
            <div class="col">
                <img src="assets/hostel.jpg" class="rounded-circle"  width="100%">
            </div>
            <div class="col">
                <img src="assets/hostel.jpg"  class="rounded-circle" width="100%">
            </div>
            
        </div>
</div>