<div class="container-fulid">
    <img src="assets/buses.jpg" width="100%" height="450px">
</div>
<div class="container mt-5">
    <h2 class="text-center">Transport</h2>
    <div class="row mt-5">
        <div class="col">
            <img src="assets/buses.jpg" width="100%">
        </div>
        <div class="col">
            <p>The Trinity College has their own six buses for students’ transportation. These buses cover all the
                important stops of Peddapalli city.</p>
        </div>
    </div>
</div>