<div class="container-fulid">
    <div class="row text-center">
        <div class="col">
            <img src="assets/notice.jpg" width="200px">
        </div> 
    </div>
</div>
<div id="exTab3" class="container">
    <div class="row">
        <div class="col-sm-2 mt-4">
            <ul class="nav nav-link">
                <li class="active">
                    <a href="#1b" class="nav-link" data-bs-toggle="tab">Notice Board</a>
                </li>
                <li><a href="#2b" class="nav-link" data-bs-toggle="tab">Time table</a>

                </li>
                <li><a href="#3b" class="nav-link" data-bs-toggle="tab">Results</a>
                </li>


            </ul>
        </div>
        <div class="col-sm-10">
            <div class="tab-content clearfix">
                <div class="tab-pane active" id="1b">
                    <h3 class="text-center">Examination Notifications</h3>
                    <div class="row">
                        <div class="col">
                            <table style="width: 100%;">
                                <tr>
                                    <th>S.NO</th>
                                    <th>Name of the Notifications</th>
                                    <th>Notifications</th>
                                </tr>
                                <tr>
                                    <td>1.</td>
                                    <td>B.Tech I Year I Sem (R22) Regular/Supply,I-I(R18,R16)Supply,I Year (R15,R13)
                                        Supply & I Year II Sem(R22,R18,R16) Supply Examinations.</td>
                                    <td><a href="" class="nav-link text-primary">View</a></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>B.Tech II Year I Sem Regular/Supply & II Year II Sem Supply Examinations
                                        FEB-2024</td>
                                        <td><a href="" class="nav-link text-primary">View</a></td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="2b">
                   
                </div>
                <div class="tab-pane" id="3b">
                    
                </div>



            </div>
        </div>
    </div>



</div>