<div class="container-fulid">
    <div class="row text-center">
        <div class="col">
            <img src="assets/timetable.png" width="100%" height="250px">
        </div>
    </div>
</div>
<div id="exTab3" class="container">
    <div class="row">
        <div class="col-sm-2">
            <ul class="nav nav-link">
                <li class="active">
                    <a href="#1b" class="nav-link" data-bs-toggle="tab">Notice Board</a>
                </li>
                <li><a href="#2b" class="nav-link" data-bs-toggle="tab">Time table</a>

                </li>
                <li><a href="#3b" class="nav-link" data-bs-toggle="tab">Results</a>
                </li>


            </ul>
        </div>
        <div class="col-sm-10">
            <div class="tab-content clearfix">
                <div class="tab-pane active" id="1b">


                </div>
                <div class="tab-pane" id="2b">
                    <h4>The Examinations Time Table as per the directions of JNTU, Hyderabad.</h4>
                    <h5>B.TECH I YEAR END EXAMINATION SCHEDULES</h5>
                    <table style="width: 100%;">
                        <tr>
                            <td>I YEAR B.TECH II SEMESTER – R18 REGULATIONS SUPPLEMENTARY EXAMINATIONS JUNE-2022</td>
                            <td><a href="" class="nav-link text-primary">View</a></td>
                        </tr>
                        <tr>
                            <td>B.TECH I YEAR I SEMESTER (CSE-ECE) – R18 REGULATIONS REGULAR-SUPPLY EXAMINATIONS
                                JUNE-2022</td>
                            <td><a href="" class="nav-link text-primary">View</a></td>
                        </tr>

                    </table>
                </div>
                <div class="tab-pane" id="3b">
                    => (07-09-2019) B.TECH III-I & III-II RC/RV REGULAR/SUPPLEMENTARY MAY 2019 EXAMINATIONS RESULTS
                    PUBLISHED. LAST DATE FOR CHALLENGE VALUATION : 16-09-2019.<br>

                    => (04-09-2019) MBA ALL SEMESTER APRIL 2019 EXAMINATIONS RECOUNTING / REVALUATION RESULTS PUBLISHED.
                    LAST DATE FOR CHALLENGE VALUATION : 11-09-2019.<br>

                    => (03-09-2019) B.TECH II-I & II-II RC/RV REGULAR/SUPPLEMENTARY MAY 2019 EXAMINATIONS RESULTS
                    PUBLISHED. LAST DATE FOR CHALLENGE VALUATION : 09-09-2019.<br>

                    => (03-09-2019) B.TECH IV-II RC/RV ADVANCED SUPPLEMENTARY JULY 2019 EXAMINATIONS RESULTS PUBLISHED.
                    LAST DATE FOR CHALLENGE VALUATION : 07-09-2019.
                </div>
            </div>
        </div>
    </div>
</div>