<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-center text-secondary"><u>Academic Calenders</u></h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table style="width:100%">
                <tr>
                    <th>S.NO</th>
                    <th>Name of the Courses</th>
                    <th>Academic Year</th>
                    <th>Academic calender</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>B.Tech I Year II Semester Revised Academic Calendar for AY 2022-23</td>
                    <td>2023-24</td>
                    <td><a href="" class="nav-link">View</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>B.Tech/B.Pharm.III YEAR I & II SEMESTERS</td>
                    <td>2023-24</td>
                    <td><a href="" class="nav-link">View</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>B.Tech II YEAR I & II SEMESTERS</td>
                    <td>2023-24</td>
                    <td><a href="" class="nav-link">View</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>MBA and MCA II YEAR I & II SEMESTERS</td>
                    <td>2023-24</td>
                    <td><a href="" class="nav-link">View</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>MBA MCA I YEAR I & II SEMESTERS</td>
                    <td>2023-24</td>
                    <td><a href="" class="nav-link">View</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>MBA MCA I YEAR I & II SEMESTERS</td>
                    <td>2023-24</td>
                    <td><a href="" class="nav-link">View</a></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Revised B.Tech & B.Pharm IV YEAR I & II Semesters Academic Calendar for 2023-24</td>
                    <td>2023-24</td>
                    <td><a href="" class="nav-link">View</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>